:root {
    --mainBgColor: #141921;

    --secBgColor: #451134;
    --secBgColorLighter: #501237;

}

html, body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mainBgColor);
}

* {
    font-family: monospace, monospace;
    font-size: 110%;
    color: white;
}

#menu {
    display: flex;
    flex-direction: column;
    height: 50vw;
    width: 20%;
    justify-content: space-between;
}

.butt {
    height: 65px;
    font-family: monospace;
    background-color: var(--secBgColor);
    border: 0.1px solid;
}

#upper {
    display: grid;
    grid-template-columns: 75% 3% 22%;
    align-items: center;
}

#upper *{
    width: 100%;
}

.butt#probsToggle {
    height: 80%;
    /* background: no-repeat center url('scales.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(scales.png);
    background-blend-mode: lighten;
    /* background-color: var(--secBgColor); */
    background-size: 70%;
}

#clear {
    width: 100%;
}

.butt:hover {
    background-color: var(--secBgColorLighter);
}

.butt:active {
    background-color: var(--secBgColor);
}

#prediction {
    height: 200px;
    border: 0.1px solid;
}




#draw {
    height: fit-content;
    /* width: 60%; */
    display: flex;
    align-items: center;
}

canvas {
    /* width: 100%; */
    /* height: 100%; */
    background-color: var(--secBgColor);
    width: 50vw;
    height: 50vw;
    border: 2px solid;
}

#hiddenData {
    display: none !important;
}