<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- <script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script> -->
    <script defer src={% static "digitclassifier/index.js" %}></script> 
    <link rel="stylesheet" href={% static "digitclassifier/style.css" %}>
    <link rel="icon" type="image/x-icon" href={% static "digitclassifier/favicon.ico" %}>
</head>
<body>
    <div id="draw">
        <canvas width="28" height="28" id="canvas"></canvas>
    </div>
    <div id="menu">
        <div id="upper">
            <form action="pred" method="POST">{% csrf_token %}
                <input id="hiddenData" name="hiddenData" value={{hiddenData}}>
                <input type="submit" class="butt" value="predict" id="predict">
            </form>
            <div id="columnGap"></div>
            <button class="butt" id="probsToggle"></button>
        </div>
        <h1 id="prediction">{{prediction}}</h1>
        <button id="clear" class="butt">clear</button>
            <!-- {% block prediction %}{% endblock %} -->
    </div>
</body>
</html>